@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main styling */
html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}

p {
  margin: 10px 0;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
}

header{
    height: 100vh;
    background: #000;
}

/* Utility classes */

.container{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px ;
}
.small{
    font-size: 14px;
    font-weight: 700;
}
.large{
    font-size: 18px;

}
.display-1{
    font-size: 72px;
    font-weight: 200;
}

.display-2{
    font-size: 56px;
    font-weight: 300;
}

.card{
    float: left;
    width: 23%;
    padding: 50px 30px;
    margin: 5px;
    border-radius: 10px;
}

.card-light{
    background: #fff;
    color: #000;
    text-align: center;
}
.card-dark{
    background: #000;
    color: #fff;
    text-align: left;
}
.card img{
    height: 100px;
}

/* from */

form{
    padding-top: 90px;
    width: 50%;
    margin: 0 auto;
}

form label{
    display: inline-block;
    margin-bottom: 0.5rem;
}

form .form-group{
    margin-bottom: 1rem;
}

form .form-control{
    display: block;
    width: 100%;
    padding: ;

}

/* Navbar */

#navbar{
    background: #000;
    color: #fff;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

#navbar a{
    color: #fff;
}

#navbar .logo{
    float: left;
    padding-top: 16px;
    font-size: 25px;
    font-weight: 600;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover{
    text-decoration: underline;
}

/* showcase */
#showcase{
    color: #fff;
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
}

#showcase h1{
    padding-bottom: 20px;
}

#showcase p{
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
}

/* About */

#about{
    padding: 120px 0;
}

#about h2{
    padding-bottom: 50px;
}

#about p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Features */

#feature{
    background: #000;
    color: #fff;
    padding: 40px 0;
}
#feature p{
    text-align: center;
    font-weight: 200;
    font-size: 40px;
}

/* services */

#services{
    padding: 120px 0 ;
}
#services h2{
    padding-bottom: 80px;
}


.services .card h4{
    padding: 20px 0;
    font-weight: 400;
}

