body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body{
    /* Metodo moderno para centrar perfectamente */
    display: grid;
    place-items: center;
    min-height: 100vh;
}

/* Estilos del contenedor principal */

.container {
    width: 320px;
    padding: 25px;
    background-color: #0078d4;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.storage {
    width: 100%;
    padding: 12px; 
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 1rem;
}

.text{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.button{
    width: 100%;
    padding: 12px;
    background-color: #354a5f;
    border-radius: .9rem;
    color: white;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.button:hover{
    background-color: #4a6583;
}
