/* Utility Clasess */

.title{
    background: #fbe5e8;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto;
}

.display-1{
    font-size: 30px;
    font-weight: 300;
    line-height: normal;
}
/* MainHeader */

#mainheader{
    height: 100%;
}

/* Navbar */

#navbar{
    text-align: center;
   
}

#navbar .logo{
    float: none;

}

#navbar ul{
    float: none;
}

#navbar ul li{
    float: none;
}
#navbar ul li a{
    padding: 10px;
}


/* Showcase */

#showcase {
    text-align: center;
}

#showcase img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}
#showcase h1{
    font-size: 30px;
}
#showcase p {
    width: 100%;
    padding-top: 20px;
}

/* About */

#about{
    padding-top: 200px;
    padding-bottom: 50px;
}

.about-title{
    float: none;
    width: 100%;
    padding: 30px 0 20px 0;
}

.about-description{
    float: none;
    width: 100%;
    padding-top: 10px;
}

.about-description p{
    text-align: center;
}

/* Testimonial */

#testimonial{
    padding-top: 50px;
    padding-bottom: 20px;
}

#testimonial p{
    width: 100%;
}

.testimonial-left,
.testimonial-right{
    float: none;
    width: 100%;
    padding-top: 40px;
}


/* Download */

#download{
    padding-top: 50px;
    padding-bottom: 40px;
}
