@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */

html,
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    scroll-behavior: smooth;
}

h1{font-size: 40px;}
h2{font-size: 22px;}

h1,
h2{
    font-weight: 500;
}

p{
    margin: 10px 0;
    line-height: 1.7em;
}

a{
    text-decoration: none;
    color: #000;
}


/* Utility Clasess */

.container{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

.title{
    background: #fbe5e8;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
    margin: 0 auto;
}

.display-1{
    font-size: 56px;
    font-weight: 300;
    line-height: normal;
}
/* MainHeader */

#mainheader{
    height: 100vh;
}

/* Navbar */

#navbar{
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar .logo{
    float: left;
    padding-top: 16px;
    font-size: 25px;
    text-transform: uppercase;
}

#navbar ul{
    float: right;
    list-style: none;
}

#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li  a:hover{
    text-decoration: underline;
}
#navbar ul li img{
    height: 45px;
    
}

/* Showcase */

#showcase {
    text-align: center;
}

#showcase img{
    width: 600px;
    padding-top: 90px;
    padding-bottom: 30px;
}
#showcase h1{
    font-size: 40px;
}
#showcase p {
    width: 45%;
    margin: 0 auto;
    padding-top: 40px;
}

/* About */

#about{
    padding-top: 200px;
    padding-bottom: 150px;
}

.about-title{
    float: left;
    width: 50%;
    padding-top:150px;
    padding-right: 30px;
}

.about-description{
    float: right;
    width: 50%;
    padding-top: 150px;
}

.about-description p{
    text-align: right;
    margin-bottom: 20px;
}

/* Testimonial */

#testimonial{
    padding-top: 90px;
    padding-bottom: 20px;
}

#testimonial p{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.testimonial-left{
    float: left;
    width: 50%;
    padding-top: 150px;
}

.testimonial-right{
    float: right;
    width: 50%;
    padding-top: 150px;
} 

.testimonial-person{
    font-size: 20px;
}

/* Download */

#download{
    text-align: center;
    padding: 70px;
    padding-bottom: 90px;
}

#download img{
    height: 60px;
}


/* footer */

#mainfooter{
    text-align: center;
    padding: 30px;
}